@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  position: relative;
  overflow-x: hidden;
  
}

body .dashboard {
  z-index: 1;
  height: 100vh;
  display: grid;
  grid-template-columns: 15% 85%;
  grid-template-rows: 90% 10%;
  /* height: calc(100%-50px); */
  position: relative;
}


body .main {
  /* z-index: 1; */
  height: 100vh;
  display: grid;
  /* overflow-y: scroll; */
  /* grid-template-columns: 15% 85%; */
  grid-template-rows: 95% 5%;
  /* height: calc(100%-50px); */
  /* position: relative; */
}